:root {
  --primary: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light-grayish-cyan);
  font-family: "Space Mono", monospace;
  font-size: 24px;
  color: var(--dark-grayish-cyan);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.logo {
  padding: 2rem;
}

main {
  background-color: var(--white);
  border-radius: 1rem 1rem 0 0;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

label {
  font-size: 1rem;
  padding-bottom: 0.5rem;
}

.bill-container {
  margin-bottom: 2rem;
}
.bill-container .input-wrapper {
  position: relative;
}

.bill-container img {
  position: absolute;
  left: 1rem;
  top: 0.5rem;
}

input {
  border: none;
  background-color: var(--very-light-grayish-cyan);
  color: var(--very-dark-cyan);
  font-family: "Space Mono", monospace;
  text-align: right;
  font-size: 1.5rem;
  width: 100%;
  padding-inline: 1rem;
  border-radius: 4px;
}

/* removes arrows from input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus,
input:active {
  outline: 1px solid var(--primary);
}

.tip-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.tip:not(:last-child) {
  background-color: var(--very-dark-cyan);
  color: var(--white);
  border-radius: 4px;
  width: 45%;
  text-align: center;
  padding: 0.3rem;
  transition: background-color 0.2s;
}

.tip-wrapper input {
  width: 45%;
  margin: 0;
  font-family: "Space Mono", monospace;
  color: var(--very-dark-cyan);

  padding: 0.3rem;
}

.tip-wrapper input::placeholder {
  color: var(--very-dark-cyan);
  text-align: center;
}

.tip:not(:last-child):hover {
  background: var(--light-grayish-cyan);
  color: var(--white);
}

.tip:not(:last-child).active {
  background: var(--primary);
  color: var(--dark-grayish-cyan);
}

.tip.custom-active {
  outline: 1px solid var(--primary);
}

.people-container .input-wrapper {
  position: relative;
}

.people-container img {
  position: absolute;
  left: 1rem;
  top: 0.5rem;
}

.people-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.error {
  color: red;
  font-size: 1rem;
  display: none;
}
#people.invalid {
  outline: 1px solid red;
}

.show {
  display: block;
}

.output {
  background-color: var(--very-dark-cyan);
  padding: 2rem;
  border-radius: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.line-output {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line-output .title {
  color: var(--white);
  font-size: 1rem;
}
.line-output .desc {
  font-size: 0.8rem;
  color: var(--dark-grayish-cyan);
}
.line-output .value {
  color: var(--primary);
  font-size: 2rem;
}

.btn {
  border: none;
  background-color: var(--dark-grayish-cyan);
  width: 100%;
  border-radius: 3px;
  padding: 0.5rem;
  margin-top: 1rem;
  color: var(--very-dark-cyan);
  font-family: "Space Mono", monospace;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
}

.btn.active:hover {
  background-color: var(--light-grayish-cyan);
  color: var(--white);
}

.btn.active {
  background-color: var(--primary);
  color: var(--very-dark-cyan);
}

.attribution {
  font-size: 0.6rem;
  padding: 1rem;
}

a {
  color: var(--very-dark-cyan);
}

@media (min-width: 768px) {
  body {
    justify-content: center;
  }

  main {
    max-width: 900px;
    flex-direction: row;
    padding: 2rem;
    border-radius: 1rem;
    align-items: stretch;
  }

  .output {
    width: 50%;
  }

  .tip-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
