.fullWidth {
  max-width: 100%;
  padding-inline: 0;  background: var(--neutral4);
}
.container {
  padding-block: 25px;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  gap:40px;
}
.form{
    display: flex;
    gap:10px;
    width:100%;
    place-content:center;
    position:relative;
}
input {
  border-radius: 25px;
  padding: 15px;
  border:none;
  outline:none;
  flex:2;
}

input.error{
  outline:2px solid red;
  color:red;
}

::placeholder {
  color: var(--neutral3);
}

.errorMessage{
  position:absolute;
  color:red;
  font-size: .6rem;
  left:1rem;
  bottom: -1.5rem;
}
.btn {
    box-shadow: none;
    padding-inline:25px;
}

.links {
    color: var(--neutral3);
    list-style-type: none;
    width:100%;
    display:flex;
    justify-content: space-between;
    padding-inline:20px;
    font-size: 1rem;
}

.links li {
    padding:10px;
}

.logos{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items: center;
    gap:40px;
}
.socials {
    width:100%;
    display:flex;
    justify-content: space-between;
}
.socials li {
    list-style-type: none;
}
.socials li a img{
  transition: .3s;
}
.socials li a:hover img{
  scale:1.3;
}

.attribution{
    display:flex;
    justify-content:center;
    font-size:.6rem;
    color: var(--neutral3);
    padding-bottom:25px;
}

a{
    color:var(--neutral3);
    text-decoration: none;
  }
  a:hover{
    color: var(--primary);
  }

  .attribution a  {
    color:var(--primary);
  text-decoration: none;
}
a:hover{
  filter: brightness(1.25);
}


@media screen and (min-width: 768px){
   .container {
    flex-direction: row;
   }

   .logos {
    align-items:flex-start;
    gap:90px;
    width:auto;
   }
   .socials{
    order:2;
    padding-inline:5px;
    width:auto;
    margin-right:75px;
    gap:10px;
   }
   .socials li {
    scale: 1.2;
   }
   .links{
    order:2;
    justify-content: center;
    gap:8rem;
   }
   .form{
    order:3;
    width:auto;
   }
    input{
        width: 200px;
    }

}   