:root {
  --primary: hsl(4, 100%, 67%);
  --color1: hsl(231, 7%, 60%);
  --color2: hsl(235, 18%, 26%);
  --color3: hsl(234, 29%, 20%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

body {
  background-color: var(--color3);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  background-color: var(--white);
  height: 100dvh;
  width: 100%;
  position: relative;
  display: block;
}
.container {
  display: flex;
  flex-direction: column;
}
.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 1.5rem;
}
.title {
  font-size: 2.3rem;
  padding-bottom: 1rem;
}

.list {
  padding: 25px;
}

.list li {
  list-style-image: url("./assets/images/icon-list.svg");
  line-height: 1.5rem;
  padding-left: 1rem;
}

.label {
  font-size: 0.8rem;
  font-weight: 700;
}

.email {
  border: 1px solid var(--color1);
  border-radius: 5px;
  width: 100%;
  margin-block: 0.5rem;
  padding: 1rem;
}

.email:focus {
  outline: none;
}

.error-message {
  display: none;
  position: absolute;
  top: -1rem;
  right: 0;
  color: var(--primary);
  font-size: 0.8rem;
  font-weight: 700;
}

.email.invalid {
  background-color: hsla(4, 100%, 67%, 20%);
  border: 1px solid var(--primary);
  color: var(--primary);
}

.btn {
  width: 100%;
  padding: 1rem;
  background-color: var(--color3);
  border: 0;
  border-radius: 5px;
  margin-block: 0.5rem;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

::placeholder {
  opacity: 0.5;
}

.btn:hover,
.btn:active {
  background: linear-gradient(to right, rgb(255, 82, 122), var(--primary));
  box-shadow: 5px 10px 50px hsla(4, 100%, 67%, 50%);
}
.input-container {
  position: relative;
}

.overlay.hidden,
.card.hidden {
  display: none;
}

.overlay {
  position: absolute;
  background: var(--white);
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.thanks {
  padding-top: 5rem;
}

.thanks img {
  width: 50px;
  margin-bottom: 2rem;
}

.thanksEmail {
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .card {
    border-radius: 20px;
    padding: 1.5rem;
    max-width: 850px;
    height: auto;
  }

  .container {
    flex-direction: row-reverse;
  }

  .overlay {
    position: absolute;
    height: auto;
    border-radius: 20px;
    max-width: 350px;
  }

  .thanks {
    padding-top: 0;
  }

  .thanks img {
    margin-bottom: 0;
  }

  .btn.dismiss {
    margin-top: 2rem;
  }
}
