* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background-color: hsl(234, 29%, 20%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

img {
  width: 100%;
}

.container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  max-width: 900px;
  height: 100vh;
  width: 100%;
  border-radius: 0;
}
.left {
  padding: 25px;
}

h1 {
  padding: 20px 0;
}

ul {
  padding: 25px;
}

li {
  list-style-image: url("./assets/images/icon-list.svg");
  line-height: 20px;
  padding: 10px;
}

.bullet {
  padding-right: 10px;
}
.label {
  font-size: 0.8rem;
  font-weight: 700;
}
.email,
.btn {
  width: 100%;
  padding: 15px;
  border: 1px solid grey;
  border-radius: 5px;
}

.email {
  margin: 10px 0;
  max-width: 400px;
}

.btn {
  background-color: black;
  max-width: 400px;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
::placeholder {
  opacity: 0.5;
}

.btn:active,
.dismiss:active {
  background: linear-gradient(to right, rgb(194, 49, 165), tomato);
}

.error {
  float: right;
  color: lightpink;
  font-size: 0.8rem;
  font-weight: 700;
}

.blackout {
  display: none;
}

.thanks {
  position: absolute;
  inset: 0;
  background: white;
  padding-inline: 25px;
  padding-top: 100px;
}

.thanks img {
  width: 20%;
}

.dismiss {
  position: absolute;
  bottom: 30px;
  width: 90%;
  padding-block: 20px;
  background-color: black;
  color: white;
  border-radius: 7px;
  border: 1px solid black;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row-reverse;
    border-radius: 20px;
    height: 650px;
    width: 100%;
  }
  .left {
    padding: 20px;
  }

  .blackout {
    background-color: hsl(234, 29%, 20%);
    position: absolute;
    display: none;
    inset: 0;
    align-items: center;
    justify-content: center;
  }
  .thanks {
    height: 400px;
    width: 400px;
    display: block;
    position: relative;
    border-radius: 20px;
    padding-top: 20px;
  }
  .right {
    padding: 25px;
  }
  img {
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
}
