:root {
  --background: 11, 13, 23;
  --primary: rgba(255, 255, 255);
  --secondary: rgba(208, 214, 249);
  margin: 0 auto;
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* -----------------------------initial style setup ----------------------------- */
body {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  background: var(--background);
  color: var(--primary);
}
a {
  text-decoration: none;
  color: inherit;
}
.heading-xl {
  font-family: "Bellefair", serif;
  font-size: 144px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}
.heading-lg {
  font-family: "Bellefair", serif;
  font-size: 100px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}
.heading-md {
  font-family: "Bellefair", serif;
  font-size: 56px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}
.heading-sm {
  font-family: "Bellefair", serif;
  font-size: 32px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}
.heading-xs {
  font-family: "Barlow Condensed", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  letter-spacing: 4px;
  color: var(--secondary);
  text-transform: uppercase;
}
.subheading-lg {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  text-transform: uppercase;
}
.subheading-sm {
  font-family: "Barlow Condensed", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--secondary);
}
.nav-text {
  font-family: "Barlow Condensed", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
/* .app {
  min-height: 100dvh;
} */

/* ----------------------------- HEADER ----------------------------- */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--background);
  padding: 1rem 3rem;
}
.logo {
  cursor: pointer;
}
.desktop-bar {
  display: none;
}
.hamburger {
  z-index: 1000;
}
nav {
  display: none;
}
nav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
nav ul li {
  cursor: pointer;
  transition: 0.3s;
}
nav.open {
  display: flex;
  position: absolute;
  background: rgba(var(--background), 0.1);
  inset: 0;
  width: 300px;
  left: auto;
  backdrop-filter: blur(20px);
  z-index: 100;
}
nav.open ul {
  margin: 10rem 3rem;
  font-size: large;
  align-items: flex-start;
  gap: 3rem;
  width: 100%;
}
nav.open li {
  width: 100%;
  text-align: left;
}
nav.open li:hover {
  border-right: 3px solid var(--primary);
}
/* media queries  tablet -------------------- */
@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
  header {
    height: 5rem;
    padding-right: 0;
    padding-block: 0;
  }
  nav {
    display: flex;
    height: 100%;
    width: 100%;
    padding-inline: 3rem;
    margin-left: 3rem;
    align-items: center;
    justify-content: flex-end;
    background: rgb(28, 29, 37);
  }
  nav ul {
    display: flex;
    flex-direction: row;
    gap: 48px;
  }
  nav li {
    text-transform: uppercase;
    position: relative;
  }
  nav li::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: var(--primary);
    left: 0;
    bottom: -2rem;
    opacity: 0;
    transition: 0.3s;
  }
  nav li:hover::after {
    opacity: 1;
  }
  nav li span {
    font-weight: 700;
    margin-right: 5px;
  }
}
/* media queries  desktop -------------------- */

@media (min-width: 1024px) {
  header {
    translate: 0 1.5rem;
    position: relative;
  }
  nav {
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    margin-left: auto;
    width: auto;
  }
  .desktop-bar {
    display: block;
    flex: 1;
    translate: 2rem 0;
    z-index: 10;
  }
  .desktop-bar hr {
    width: 100%;
    opacity: 0.3;
  }
}
/* ----------------------------- HOME ----------------------------- */
section {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}
.home {
  background-image: url("../src/assets/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 1280px;
}
.header-container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
main .heading-xs {
  font-size: 1.15rem;
}
main .heading-xl {
  font-size: 6rem;
}
.content {
  color: var(--secondary);
  line-height: 32px;
  max-width: 475px;
  margin: auto;
  display: flex;
}
.explore {
  text-transform: uppercase;
  color: rgba(var(--background));
  height: 144px;
  width: 144px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  border-radius: 50%;
  font-size: 1.5rem;
  margin-top: 5rem;
  transition: 0.3s all;
}
.explore:hover {
  box-shadow: 0 0 0 50px rgba(var(--background), 0.5);
  color: grey;
  scale: 0.98;
}
/* media queriers tablet */
@media (min-width: 768px) {
  .home {
    background-image: url("../src/assets/home/background-home-tablet.jpg");
  }
}
/* media queries  desktop -------------------- */
@media (min-width: 1024px) {
  .home {
    background-image: url("../src/assets/home/background-home-desktop.jpg");
  }
  .home-container {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    flex: 1;
    padding-bottom: 6rem;
  }
  .header-container {
    align-items: flex-start;
  }
  .content {
    text-align: left;
  }
  .explore {
    height: 272px;
    width: 272px;
    margin: 0;
  }
}

/* ----------------------------- DESTINATION ----------------------------- */
.destination {
  background: url("../src/assets/destination/background-destination-mobile.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
.destination-title {
  font-size: 1rem;
}
.destination-title > span {
  color: grey;
}
.destination-content-container {
  display: flex;
  flex-direction: column;
}
.destination-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.planet-image {
  max-width: 150px;
  margin: 2rem auto;
  animation: orbit 8s linear infinite;
}
@keyframes orbit {
  from   {rotate:0deg}
  to {rotate:360deg}
}
.planet-image img {
  width: 100%;
}
.planet-selection {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.planet-selection li {
  cursor: pointer;
  position: relative;
}
.planet-selection li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: var(--primary);
  left: 0;
  bottom: -1rem;
  opacity: 0;
  transition: 0.3s;
}
.planet-selection li:hover::after {
  opacity: 1;
}
.planet-name {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.destination-description {
  color: var(--secondary);
  line-height: 1.5rem;
}
.destination hr {
  width: 100%;
  opacity: 0.3;
}
.stats {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.label {
  margin-bottom: 1rem;
}

/* ------ mediaquery tablet */
@media (min-width: 768px) {
  .destination {
    background-image: url("../src/assets/destination/background-destination-tablet.jpg");
  }
  .stats {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
}

/* ------ mediaquery tablet */
@media (min-width: 1024px) {
  .destination {
    background-image: url("../src/assets/destination/background-destination-desktop.jpg");
  }
  .destination-content-container {
    flex-direction: row;
    padding-inline: 5rem;
    gap: 3rem;
  }
  .destination-title {
    font-size: 1.5rem;
    text-align: left;
    padding: 5rem;
  }
  .destination-content {
    gap: 1rem;
    max-width: 400px;
  }
  .planet-image {
    max-width: 400px;
    flex: 1;
  }
  .destination-content {
    flex: 1;
  }
  .planet-selection {
    width: 100%;
    justify-content: flex-start;
  }
  .planet-name {
    text-align: left;
    font-size: 5rem;
    margin-bottom: 1rem;
  }
  .destination-description {
    text-align: left;
  }
  .stats {
    justify-content: flex-start;
  }
}
/* ----------------------------- CREW ----------------------------- */
.crew {
  background: url("../src/assets/crew/background-crew-mobile.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
.crew-container {
  padding: 3rem;
}

.crew-title {
  font-size: 1rem;
  margin-bottom: 3rem;
}
.crew-title span {
  color: grey;
}
.position {
  font-size: 1rem;
  color: grey;
  margin-bottom: 1rem;
}
.name {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.bio {
  color: var(--secondary);
  line-height: 2rem;
}
.dots {
  margin-block: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.dots div {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background: grey;
  cursor: pointer;
}
.dot.active {
  background: white;
}
.crew-image {
  margin: auto;
  max-width: 400px;
}
.crew-image img {
  width: 100%;
}

/* ------crew mediaquery tablet */
@media (min-width: 768px) {
  .crew {
    background-image: url("../src/assets/crew/background-crew-tablet.jpg");
  }
  .crew-title {
    text-align: left;
  }
  .bio {
    margin: auto;
    max-width: 800px;
  }
}

/* ------ crew mediaquery tablet */
@media (min-width: 1024px) {
  .crew {
    background-image: url("../src/assets/crew/background-crew-desktop.jpg");
  }
  .crew-container {
    padding-inline: 5rem;
  }
  .crew-content-container {
    display: flex;
    position: relative;
  }
  .crew-container {
    text-align: left;
  }
  .crew-content {
    display: grid;
    place-content: center;
    height: 100%;
  }
  .name {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .dots {
    gap: 3rem;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .dots div {
    height: 0.7rem;
    width: 0.7rem;
  }
}
