:root {
  --color: #854cff;
}

* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  background-color: rgb(240, 240, 238);
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 10px 10px 25% 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.inputContainer {
  display: flex;
  justify-content: center;
}
.birthdayInput {
  display: flex;
  flex-direction: column;
  margin-inline: 10px;
}
.birthdayInput label {
  text-transform: uppercase;
  color: darkgrey;
  font-size: 0.5rem;
  padding-block: 5px;
  letter-spacing: 2px;
  font-weight: bold;
}
.birthdayInput input {
  width: 80px;
  border: 1px solid lightgrey;
  height: 2rem;
  border-radius: 5px;
  color: black;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;

}
.birthdayInput input:focus {
  outline: none;
  border-color: var(--color);
}

input,
::placeholder {
  color: darkgrey;
  font-size: 1rem;
  font-weight: bold;
}

.error {
  color: red;
  font-size: 0.7rem;
}
input.error {
  border-color: red;
  font-size: inherit;
}
label.error{
  color:red;
}

.buttonContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  align-self: flex-start;
  position: relative;
  margin-block: 20px;
}
.line {
  width: 100%;
  height: 1px;
  background: lightgrey;
}

.button {
  background: var(--color);
  color: white;
  padding: 15px;
  width: 25px;
  aspect-ratio: 1;
  border-radius: 50%;
  font-weight: 600;
  left: 50%;
  translate: -50% 0;
  border: none;
  position: absolute;
  transition: 0.3s;
}
.button:hover {
  opacity: 0.7;
}
.button:active {
  background: black;
}
.button img {
  object-fit: fill;
  width: 100%;
}
.results {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.results li {
  list-style: none;
  padding: 10px;
  margin-left: 10px;
  font-size: 3.5rem;
  font-weight: 700;
  font-style: italic;
}

.number {
  color: var(--color);
}

/* Desktop media query */
@media (min-width: 768px) {
  .container {
    width: 500px;
  }

  .inputContainer {
    justify-content: flex-start;
  }
  .buttonContainer {
    margin-block: 0;
  }

  .button {
    translate: -100% 0;
    left: 100%;
    margin: 0;
  }
}
